.product-details__container{
	max-width: 1080px;
	margin: auto;
	padding: 0 25px;
}
.row-2{
	justify-content: space-between;
	margin: 100px auto 50px;
}
.single-product{
	margin-top: 80px;
}
.single-product .col-2 img{
	padding: 0;
}
.single-product .col-2{
	padding: 20px;
}
.single-product h4{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.single-product input{
	width: 50px;
	height: 40px;
	padding-left:10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid #ff523b;
}
input:forcus{
	outline: none;
}
.small-img-row{
	display: flex;
	justify-content: space-between;
}
.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}